.nav {
    background-color: #0F171D;
    min-height: 50px;
}

.nav__wrapper {
    display: flex;
    align-items: center;
}

.nav__logo {
    width: 50px;
    height: 50px;
    margin: 12px;
}

.nav__logo svg {
    width: 100%;
}

.nav__list {
    padding-left: 20px;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    width: 80%;
}

.nav__item-link {
    color: #ECF8FF;
    padding: 10px;
    font-size: 18px;
    display: flex;
    align-items: center;
    transition: all 0.3s;

    &:hover,
    &:focus,
    &:active {
        color: #A2FAB4;
        outline: none;
    }

    
}