.promo {
    min-height: 100vh;
    padding: 70px 0 0 0;
    display: flex;
}

.promo__content {
    width: 55%;
}

.promo__animation {
    width: 40%;
    margin-top:-230px;
}

.promo__title {
    color: #A2FAB4;
    letter-spacing: 1px;
    font-size: 45px;
    line-height: 150%;
    font-weight: 700;
    margin-top: 50px;
}

.promo__text {
    font-size: 18px;
    width: 80%;
    line-height: 30px;
}

.promo__animation {
    perspective: 500px;
    perspective-origin: center center;
}