mixin cameras()
    section .cameras
        .container
            h2.cameras__title Камеры видеонаблюдения
            ul.cameras__list
                li.cameras__item
                    img.cameras__item-img(src="", alt="фото продукта")
                    p.cameras__item-title Цилиндрические камеры
                    p.cameras__item-text Видеонаблюдения чаще всего устанавливают на улице. Многие их называют именно уличными видеокамерами. Все такие камеры оснащены ночной подсветкой. Камеры в цилиндрическом корпусе могут комплектоваться фиксированными, вариофокальными и моторизированными объективами. 
                li.cameras__item.cameras__item--right
                    img.cameras__item-img(src="", alt="фото продукта")
                    p.cameras__item-title Купольные видеокамеры
                    p.cameras__item-text Устанавливают преимущественно в помещениях. Но их корпус защищен не хуже, чем корпус цилиндрических камер, и установка купольных камер на улице также возможна. Некоторые купольные камеры оснащены встроенным микрофоном или аудио входом/выходом микрофона. 
                    p.cameras__item-text Установка купольных камер видеонаблюдения широко распространена в магазинах, в офисах, в гостиницах, в подъездах, в производственных цехах.
                li.cameras__item.cameras__item
                    img.cameras__item-img(src="", alt="фото продукта")
                    p.cameras__item-title Компактные видеокамеры
                    p.cameras__item-text В прямоугольном корпусе оснащаются микрофоном, динамиком и слотом для карты памяти. Они отличаются от остальных камер тем, что разъемы размещены непосредственно на корпусе, а не вынесены на проводах за пределы корпуса. Компактные камеры просты в установке и подходят для монтажа в квартире и в частном доме. 
                    p.cameras__item-text Через приложение на телефоне можно не только видеть и слышать происходящее, но и обратиться к присутствующим в помещении через динамик камеры.
                li.cameras__item.cameras__item--right
                    img.cameras__item-img(src="", alt="фото продукта")
                    p.cameras__item-title Купольные компактные камеры
                    p.cameras__item-text Немного меньше, чем обычные купольные камеры. Они часто оснащены встроенными микрофонами. Такие камеры преимущественно устанавливают в помещениях. Их дизайн отлично вписывается в интерьер квартир, кафе, ресторанов, офисов и частных домов. 
                li.cameras__item.cameras__item
                    img.cameras__item-img(src="", alt="фото продукта")
                    p.cameras__item-title Миниатюрные камеры
                    p.cameras__item-text Видеонаблюдения подходят для монтажа в ночных клубах, в ресторанах, в кафе. Т.е. там, где нужно, чтобы видеокамеры не «бросались в глаза» и не нарушали элементы интерьера помещений. 
                    p.cameras__item-text Они не оснащаются микрофонами, слотами для карт памяти и ночной подсветкой. Именно из-за отсутствия встроенной подсветки эти камеры не пользуются широкой популярностью.
                li.cameras__item.cameras__item--right
                    img.cameras__item-img(src="", alt="фото продукта")
                    p.cameras__item-title Поворотные камеры
                    p.cameras__item-text Установка поворотных видеокамер распространена не так широко. В основном они нужны на предприятиях с постоянным пунктом охраны. Они имеют ряд преимуществ. Например, работать в режиме «патрулирования», автоматически отслеживать движущийся объект и прочее. 
                    p.cameras__item-text Поворотные камеры оснащаются хорошими объективами с оптическим зумом. Управление такими камерами осуществляется с пульта, через ПО регистратора или ПК, через мобильное приложение.