mixin decisions()
    section.decisions
        .container
            h2.decisions__content-title Решения для вашего Бизнеса
            .decisions__content-row
                .decisions__content-item
                    a(href="http:/") 
                        img(src="./img/item-4.jpg", alt="Превью видео")
                    .decisions__content-item-info
                        p.decisions__content-item-info-text Elon Musk
                            span Product manager
                        p.decisions__content-item-info-date October 12, 2021
                            span Space X Company
                    .decisions__content-item-descr
                        h3.decisions__content-item-descr-title Had I not had that Nexar dash cam, I’d still be going back and forth:
                        ul.decisions__content-item-descr-list
                            li.decisions__content-item-descr-item Возврат инвестиций в IT-инфраструктуру
                            li.decisions__content-item-descr-item Минимизируйте простой оборудования
                            li.decisions__content-item-descr-item Минимизируйте простой оборудования

                .decisions__content-item
                    a(href="http:/") 
                        img(src="./img/item-4.jpg", alt="Превью видео")
                    .decisions__content-item-info
                        p.decisions__content-item-info-text Elon Musk
                            span Product manager
                        p.decisions__content-item-info-date October 12, 2021
                            span Space X Company
                    .decisions__content-item-descr
                        h3.decisions__content-item-descr-title I didn’t know what was happening and next thing you know I look to my left and I’ve got a truck rolling to my face
                        ul.decisions__content-item-descr-list
                            li.decisions__content-item-descr-item Отсутствие затрат на содержание дорогостоящих специалистов
                            li.decisions__content-item-descr-item Минимизируйте простой оборудования
                            li.decisions__content-item-descr-item Фокусируйтесь на стратегическом развитии компании
                
            .decisions__content-row
                .decisions__content-item
                    a(href="http:/") 
                        img(src="./img/item-4.jpg", alt="Превью видео")
                    .decisions__content-item-info
                        p.decisions__content-item-info-text Elon Musk
                            span Product manager
                        p.decisions__content-item-info-date October 12, 2021
                            span Space X Company
                    .decisions__content-item-descr
                        h3.decisions__content-item-descr-title Had I not had that Nexar dash cam, I’d still be going back and forth:
                        ul.decisions__content-item-descr-list
                            li.decisions__content-item-descr-item Отсутствие затрат на содержание дорогостоящих специалистов
                            li.decisions__content-item-descr-item Минимизируйте простой оборудования
                            li.decisions__content-item-descr-item Фокусируйтесь на стратегическом развитии компании

                .decisions__content-item
                    a(href="http:/") 
                        img(src="./img/item-4.jpg", alt="Превью видео")
                    .decisions__content-item-info
                        p.decisions__content-item-info-text Elon Musk
                            span Product manager
                        p.decisions__content-item-info-date October 12, 2021
                            span Space X Company
                    .decisions__content-item-descr
                        h3.decisions__content-item-descr-title Had I not had that Nexar dash cam, I’d still be going back and forth:
                        ul.decisions__content-item-descr-list
                            li.decisions__content-item-descr-item Возврат инвестиций в IT-инфраструктуру
                            li.decisions__content-item-descr-item Минимизируйте простой оборудования
                            li.decisions__content-item-descr-item Минимизируйте простой оборудования
                    
            .decisions__content-row
                .decisions__content-item
                    a(href="http:/") 
                        img(src="./img/item-4.jpg", alt="Превью видео")
                    .decisions__content-item-info
                        p.decisions__content-item-info-text Elon Musk
                            span Product manager
                        p.decisions__content-item-info-date October 12, 2021
                            span Space X Company
                    .decisions__content-item-descr
                        h3.decisions__content-item-descr-title Had I not had that Nexar dash cam, I’d still be going back and forth:
                        ul.decisions__content-item-descr-list
                            li.decisions__content-item-descr-item Возврат инвестиций в IT-инфраструктуру
                            li.decisions__content-item-descr-item Минимизируйте простой оборудования
                            li.decisions__content-item-descr-item Минимизируйте простой оборудования
                .decisions__content-item
                    a(href="http:/") 
                        img(src="./img/item-4.jpg", alt="Превью видео")
                    .decisions__content-item-info
                        p.decisions__content-item-info-text Elon Musk
                            span Product manager
                        p.decisions__content-item-info-date October 12, 2021
                            span Space X Company
                    .decisions__content-item-descr
                        h3.decisions__content-item-descr-title Had I not had that Nexar dash cam, I’d still be going back and forth:
                        ul.decisions__content-item-descr-list
                            li.decisions__content-item-descr-item Отсутствие затрат на содержание дорогостоящих специалистов
                            li.decisions__content-item-descr-item Минимизируйте простой оборудования
                            li.decisions__content-item-descr-item Фокусируйтесь на стратегическом развитии компании

        
            