mixin feedback()
    .feedback
        p.feedback__text Проект и просчет системы Видеонаблюдениядля Вашего Бизнеса
            span бесплатно!
        label.feedback__label
            input.feedback__input(type="tel", plaseholder="Ваш номер телефона") 
        button.feedback__btn.button Получить просчет