mixin nav()
    .nav
        img(src="./img/logo.svg", alt="it-lance")
        nav.nav__menu
            ul.nav__menu-list
                li.nav__menu-item Наши услуги
                li.nav__menu-item Статьи
                li.nav__menu-item Информация
                li.nav__menu-item О нас
                li.nav__menu-item Контакты
            a.nav__menu-link(href="#") Оставить заявку