mixin opportunities()
    .opportunities
        h2.opportunities__title Возможности
        ul.opportunities__list
            li.opportunities__item 
                img(src="", alt="")
                h3.opportunities__item-title Видеонаблюдение через интернет
                p.opportunities__item-text Для онлайн доступа к камерам достаточно иметь доступ к Интернету на объекте. Подключившись удаленно к системе видеонаблюдения можно просматривать видео и запись в режиме времени.

            li.opportunities__item 
                img(src="", alt="")
                h3.opportunities__item-title Видеонаблюдение через интернет
                p.opportunities__item-text Для онлайн доступа к камерам достаточно иметь доступ к Интернету на объекте. Подключившись удаленно к системе видеонаблюдения можно просматривать видео и запись в режиме времени.

