mixin opportunities()
    .opportunities
        h2.opportunities__title Возможности
        ul.opportunities__list
            li.opportunities__item 
                img(src="./img/item-1.jpg", alt="Видеонаблюдение")
                h3.opportunities__item-title Видеонаблюдение через интернет
                p.opportunities__item-text Для онлайн доступа к камерам достаточно иметь доступ к Интернету на объекте. Подключившись удаленно к системе видеонаблюдения можно просматривать видео и запись в режиме времени.

            li.opportunities__item 
                img(src="./img/item-2.jpg", alt="Запись")
                h3.opportunities__item-title Запись звука
                p.opportunities__item-text Наличие микрофона поможет проанализировать качество обслуживания персонала, прослушать разговоры няни и репетиторов с детьми, детально разобраться в случае возникновения конфликта.

            li.opportunities__item 
                img(src="./img/item-3.jpg", alt="Детектор")
                h3.opportunities__item-title Детектор движения
                p.opportunities__item-text Видеокамеры способны определять движение объектов. Это важно, когда нужно настроить запись только при обнаружении движения или обозначить границы, при пересечении которых система оповестит об этом.

            li.opportunities__item 
                img(src="./img/item-4.jpg", alt="Просмотр")
                h3.opportunities__item-title Просмотр архивных видеозаписей
                p.opportunities__item-text Видео с каждой камеры записывается отдельно. Зная приблизительно, когда и где произошло интересующее Вас событие, без труда можно найти важный фрагмент и сохранить его на жесткий диск компьютера или на флеш-карту.

            li.opportunities__item 
                img(src="./img/item-5.jpg", alt="Запись ночью")
                h3.opportunities__item-title Запись видео в полной темноте
                p.opportunities__item-text При снижении освещенности в помещении или на улице видеокамеры переходят в ночной режим съемки. Даже при съемке в темноте качество видео остается на очень высоком уровне.

            li.opportunities__item 
                img(src="./img/item-6.jpg", alt="Видеоконтроль")
                h3.opportunities__item-title Видеоконтроль и защита от краж
                p.opportunities__item-text Никакая охрана не обеспечит круглосуточный контроль витрин, складов, зон погрузки/разгрузки транспорта. Но система видеонаблюдения, если не заменит, то станет хорошим инструментом для службы безопасности.
