mixin promo()
    .promo
        h1.promo__title
        .container
            .promo__content
            h2.promo__content-title Проектирование и установка систем видеонаблюдения
            p.promo__content-text Защитите свой бизнес от неожиданных сбоев!
            button.promo__content-btn Узнать больше

            
